<div class="moccStats row">

    <div class="col-sm-4">
        <div class="moccStats-item">
            <h3>Visits</h3>
            <span class="moccStats-item-value">{{visits}}</span>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="moccStats-item">
            <h3>Visits with location</h3>
            <span class="js-increment moccStats-item-value">{{locations|length}}</span>
        </div>
    </div>

    <div class="col-sm-4">
        {% include '@MoCCPosters/your-location.twig' %}
    </div>

</div>

<div class="row">
    <div class="col-sm-12">
        {% include '@MoCCPosters/all-locations.twig' %}
	</div>
</div>
