<div class="moccStats row">

    <div class="col-sm-4">
        <div class="moccStats-item">
            <h3>Visits</h3>
            <span class="moccStats-item-value">{{visits}}</span>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="moccStats-item">
            <h3>Visits with location</h3>
            <span class="js-increment moccStats-item-value">{{locations|length}}</span>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="moccStats moccMap">
        	<h3>Your location</h3>
        	<div class="js-locationImg moccMap-container"></div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-sm-12">
        <div class="moccMap">

            <h3>All visit location</h3>
            <div data-locations="{{locationsJSON}}" class="moccMap-container js-map"></div>

	    </div>
	</div>
</div>
